.brief{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.brief #productLink{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-decoration: none;
}

.brief button{
    margin: 15px;
    position: relative;
}