.Cart {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 150px;
    }

.Cart .cartItem{
    width: 95%;
}

.Cart #clearCart{
    display: block;
    width: 150px;
}

.Cart #products{
    display: block;
    width: 100px;
    margin: 25px;
    transition: 0.5s;
}

.Cart #productLink{
    transition: 0.5s;
    text-decoration: none;
}

.Cart #productLink:hover{
    color: white;
}

.Cart #checkout{
    margin: 25px;
    padding: 10px;
    width: 25%;
}

.Cart #checkout:hover{
    color: white;
}


.Cart #checkoutLink:hover{
    color:white;
}

.Cart #checkoutButton{
    width: 100%;
}
.Cart .cartPrice{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkcyan;
    border-radius: 15px;
    -webkit-box-shadow: 17px 18px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 18px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 18px 25px 0px rgba(0,0,0,0.75);
    border-style: solid;
    margin-top: 50px;
    padding: 15px;
    font-weight: 800;
    font-size: x-large;
}
