.cartItem{
    background-color: darkcyan;
    border-radius: 15px;
    -webkit-box-shadow: 17px 18px 33px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 18px 33px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 18px 25px 0px rgba(0,0,0,0.75);
    border-style: solid;
    height: auto;
    padding: 10px 0 10px 0;
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cartItem #quantity{
    position: absolute;
    left: 50%;
}

.cartItem h3{
    position: relative;
    left: 5%;
    width: 40%;
}

.cartItem #pricePerUnit{
    position: absolute;
    left: 65%;
}

.cartItem #subtotal{
    position: absolute;
    left: 85%;
}

.cartItem button{
    font-size: 15px;
    position: absolute;
    left: 95%;
}

