.detail #whitespace{
    height: 100px;
}

.detail img{
    max-width: 80%;
    height: auto;
    border-style: solid;
    border-radius: 10px;
}

.detail p{
    margin: 25px;
    font-size: large;
    text-align: justify;
}