.ItemCounter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#suma{
    position: relative;
    right: 20px;
}

#resta{
    position: relative;
    left: 20px;
}

.ItemCounter span{
    margin: 10px;
    font-weight: bold;
}

.ItemCounter #added{
    margin: 30px;
    border-style: none;
}

.cartButtons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartButtons a{
    text-decoration: none;
}




