.background footer{
    position: relative; /* Change to fixed */
    bottom: 0;
    left: 0;
    width: 100%;;
    max-width: 100vw;
    height: 30px;
    background-color: darkcyan;
    border-style: solid;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

.background header{
    display: flex;
    justify-content: center;
}

.background{
    position: relative;
    background-color: radial-gradient(darkcyan,grey);
    width: 100%;
    max-width: 100vw;
    min-height: 100vh; /* La unica forma de que el fondo ocupe todo el viewport*/
}

.background .logo{
    position: absolute;
    right: 25px;
    height: 50px;
}

.background h1{
    display: inline;
    margin: 30px;
}
