.background footer{
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 100%;;
    max-width: 100vw;
    height: 30px;
    background-color: darkcyan;
    border-style: solid;
    overflow-x: hidden;
    padding-top: 15px;
    padding-bottom: 10px;
    
}

.background header{
    display: flex;
    justify-content: center;
    color: rgb(132, 199, 253);
}

.background{
    position: relative;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh; /* La unica forma de que el fondo ocupe todo el viewport*/
}

.background .logo{
    position: absolute;
    right: 25px;
    height: 50px;
}

.background h1{
    display: inline;
    margin: 30px;
}

.background button{
    position: absolute;
    right: 0;
    margin: 35px;
}

.background #current{
    color: rgb(132, 199, 253);
    position: absolute;
    right: 0;
    margin: 35px;
}